<html>
    <head>
    </head>
    <body>
        <div id='container'>
            <div (click)="itemListPage()" id='backBTNposition' >
                <button id='backBTN'>></button>
            </div>
            <div id='itemInfoContainer'>
                <div id='imgContainer'><img src='assets\img\pic.png' id='itemImg'></div>
                <div id='textContainer'>
                    <h3 class='text'>طريقة الاستعمال:</h3>
                    <br>
                    <br>
                    <p class='text' id='description' >{{aqar?.description}}</p>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div id='textContainer'>
                    <h3 class='text'>السعر:</h3>
                    <br>
                    <br>
                    <p class='text' id='price'>{{aqar?.price}}</p>
                </div>
                <div routerLink="/itemList/{{aqar?.name}}/{{aqar?.name}}" id='reminderContainer'>
                    <i class="fa fa-plus" id='icon'></i>
                    <p id='remider'>ضافة الى قائمة التذكير</p>
                </div>
            </div>
        </div>
    </body>
</html>