*{
    padding: 0pt;
    margin: 0pt;
}

body{
    background-color: #2AFC62;
    width: 100%;
    height: 100vh;
    position:absolute; top:0; bottom:0; right:0; left:0;
}

#backBTN{
    border-style: solid;
    border-radius: 30pt;
    border-width: 1pt;
    width: 40pt;
    height: 30pt;
    background-color: rgba(255, 255, 255, 0.2);
    color: dimgray;
    cursor: pointer;
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
}
#backBTNposition{
    padding-top: 15pt;
    margin-left: 190pt;
}

#itemInfoContainer{
    width: 230pt;
    height: 500pt;
    background-color: white;
    margin-left: 10pt;
    border-radius: 20pt;
    margin-top: 20pt;
}
#imgContainer{
    padding-top: 20pt;
    text-align: center;
}
#itemImg{
    width: 200pt;
}
#text{
    direction: rtl;
    float: right;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: dimgray;
}
#textContainer{
    margin: 20pt;
}
#reminderContainer{
    margin: 20pt;
    margin-top: 130pt;
    cursor: pointer;
}
#remider{
    direction: rtl;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: dimgray;
    font-size: 20pt;
    bottom: 7pt;
    position: relative;
}
#icon{
    float: right;
    margin-left: 10pt;
    font-size: 20pt;
}



#container{
    margin-top: 80pt;
    width: 250pt;
    margin-left: auto;
    margin-right: auto;
    width: intrinsic;           /* Safari/WebKit uses a non-standard name /
    width: -moz-max-content;    / Firefox/Gecko /
    width: -webkit-max-content; / Chrome */
    padding-bottom: 30vh;
    background-color: rgb(0, 0, 0, 0.05);
    border-radius: 10pt;
    height: 600pt;
}
























/*==================================for phones============================*/





@media only screen and (max-width: 600px) {
    body{
        background-color: #2AFC62;
        width: 100%;
        height: 100%;
    }
    #container{
    margin: 0;
    background-color: rgb(0, 0, 0, 0);
    width: auto;
    }
    #backBTN{
        border-radius: 70pt;
        border-style: solid;
        border-width: 1.5pt;
        width: 50pt;
        height: 40pt;
        background-color: rgba(255, 255, 255, 0.2);
        color: dimgray;
        cursor: pointer;
        font-size: 20pt;
        font-weight: bold;
        text-align: center;
    }
    #backBTNposition{
        padding-top: 20pt;
        margin-left: 220pt;
    }
    
    
    #itemInfoContainer{
        width: 230pt;
        height: 500pt;
        background-color: white;
        margin-left: 25pt;
        border-radius: 20pt;
        margin-top: 20pt;
        text-align: center;
    }
    #imgContainer{
        padding-top: 20pt;
        text-align: center;
    }
    #itemImg{
        width: 200pt;
    }
    
#text{
    direction: rtl;
    float: right;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: dimgray;
}
#textContainer{
    margin: 20pt;
}
#reminderContainer{
    margin: 20pt;
    margin-top: 130pt;
}
#remider{
    direction: rtl;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: dimgray;
    font-size: 20pt;
    bottom: 7pt;
    position: relative;
}
#icon{
    float: right;
    margin-left: 10pt;
    font-size: 20pt;
}


  }
