<html>
    <head>
    </head>
    <body>
        <div id='container'>
            <div (click)="reminderPage()" id='backBTNposition' >
                <button id='backBTN'>></button>
            </div>
            <br>
            <div id='ContainerWhite'>
                <div>
                    <p id='greetings'>اضافة تذكير جديد</p>
                </div>
                <div id='newReminder'>
                    <div><input type='text' placeholder='  فيفادول* ' id='userInputStyle'></div>
                    <div><p id='text'>اسم التذكير:</p></div>
                    <div><input type='text' placeholder='  6:00 مساء* ' id='userInputStyle'></div>
                    <div><p id='text'>موعد التذكير:</p></div>
                    <div><input type='date' placeholder='  كل ثلاثاء* ' id='userInputStyle'></div>
                    <div><p id='text'>ناريخ التذكير:</p></div>
                </div>
            </div>
            

        </div>
    </body>
</html>