<html>
    <head>
    </head>
    <body>
        <div id='container'>
            <div routerLink="/reminder/{{username?.email}}" id='backBTNposition' >
                <button id='backBTN'>></button>
            </div>
            <br>
            <div id='ContainerWhite'>
                <div>
                    <p id='greetings'>اضافة تذكير جديد</p>
                </div>
                <div id='newReminder'>
                    <div><input type='text' placeholder='  فيفادول* ' class='userInputStyle' id='name'></div>
                    <div><p id='text'>اسم التذكير:</p></div>
                    <div><input type='text' placeholder='  6:00 مساء* ' class='userInputStyle' id='time'></div>
                    <div><p id='text'>موعد التذكير:</p></div>
                    <div><input type='date' class='userInputStyle' id='date'></div>
                    <div><p id='text'>ناريخ التذكير:</p></div>
                </div>
                <div (click)="submetReminder()" id='addReminderContainer'>
                    <img id='icon' src="https://img.icons8.com/material-sharp/48/000000/bell.png"/>
                    <p id='addRemider'>حفظ التذكير</p>
                </div>
            </div>
        </div>
    </body>
</html>