<html>
    <head>
    </head>
    <body>
        <div id='container'>
            <div (click)="membersPage()" id='backBTNposition' >
                <button id='backBTN'>></button>
            </div>
            <br>
            <div>
                <p id='greetings'>قائمة التذكير</p>
            </div>
            <div (click)="setReminder()" id='addReminderContainer'>
                <img src='assets\img\reminder.png' id='icon'>
                <p id='addRemider'>ضافة الى قائمة التذكير</p>
            </div>
            
            <div  id='remindersContainer'>
                <div *ngIf="isAnonymous" id='reminderItemAnonymous' >
                    <p>التسجيل اولا للحصول على تاريخ الادوية</p>
                </div>
                <div *ngFor='let item of itemsArray;let i=index'  id='reminders'>
                    <div  id='titleAndIconContainer'>
                        <button (click)="deleteReminder(idArray[i])" type="button" class="close" aria-label="Close" id='moreInfoIcon'>
                        <span aria-hidden="true">&times;</span>
                        </button>
                        <p id='reminderTitle'>{{item.title}}</p>
                    </div>
                    <div id='rows'>
                        <div class='date'>{{item.date}}</div>
                        <div class='date'>{{item.time}}</div>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>