<html>
    <head>
    </head>
    <body>
        <div id='container'>
            <div (click)="membersPage()" id='backBTNposition' >
                <button id='backBTN'>></button>
            </div>
            <br>
            <div>
                <p id='greetings'>قائمة التذكير</p>
            </div>
            <div (click)="setReminder()" id='addReminderContainer'>
                <img src='assets\img\reminder.png' id='icon'>
                <p id='addRemider'>ضافة الى قائمة التذكير</p>
            </div>
            
            <div  id='remindersContainer'  >
                <div *ngFor='let item of array' id='reminders'>
                    <div id='titleAndIconContainer'>
                        <img (click)="deleteReminder(item)" src='assets\img\close.png' id='moreInfoIcon'>
                        <p id='reminderTitle'>{{item.title}}</p>
                    </div>
                    <div id='rows'>
                        <div class='date'>{{item.date}}</div>
                        <div class='date'>{{item.time}}</div>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>