<html>
    <head>

    </head>
    <body>
        <div id='container'>
            <form>
                <p id='greetings'>مرحبا</p>
                <div class='grid-container'>
                    <div id='userInput'>
                        <input type="email" id="email">
                    </div>

                    <div id='userInput'>
                        <p id='text'>:ايميل</p>
                    </div>

                    <div id='userInput'> 
                        <input  type="password" id="password">
                    </div>
                
                    <div id='userInput'>
                        <p id='text'>:كلمة المرور</p>
                    </div>
                </div>
                <div id='userInput'> 
                        <button (click)="logIn()" id='loginBTN'>
                            تسجيل دخول
                        </button>
                        <br>
                        <a (click) ="signUpPage()" id='signupBTN' class='btn'>
                            تسجيل جديد
                        </a>
                        <br>
                        
                        <a (click) ="signInGuest()" id='logoutBTN' class='btn'>
                            الدخول كضيف
                        </a>
                </div>
            </form>
        </div>
    </body>
</html>
