<html>
    <head>

    </head>
    <body>
       
        <form *ngIf="!isLogedIn">
            <input type="email" id="email" ><br>
            <input  type="password" id="password"><br>
            <button (click)="logIn()">
                logIn
            </button>
            <button (click) ="signUp()">
                sign up
            </button>
            <button (click) ="logOut()"> 
                logout
            </button>
            <button (click) ="addAqar()"> 
                add Aqar
            </button>
            <button (click) ="pullAllAqars()
            "> 
            pullAllAqars
            </button>
            <button (click) =" searchAqar()
            "> 
            searchAqar
            </button>
            <button (click) ="addRemainder()
            "> 
            addRemainder
            </button>
            <button  (click) ="details()
            "> 
            <a routerLink="/member/naif">details</a>
            
            </button>
            <button (click) =" signUpAno()
            "> 
            as gust
            </button>
           
           

            
        </form>


    </body>
</html>
