<html>
    <head>
    </head>
    <body>
        <div id='container'>
            <div (click)="membersPage()" id='backBTNposition' >
                <button id='backBTN'>></button>
            </div>
            <br>
            <div>
                <p id='greetings'>تاريخ ادويتي</p>
            </div>
            
            <div id='reminderItemsContainer'>
                <div (click)="itemInfo()" id='reminderItem'>
                    <p>title</p>
                </div>
                <div id='reminderItem'>
                    <p>title</p>
                </div>
                <div id='reminderItem'>
                    <p>title</p>
                </div>
                <div id='reminderItem'>
                    <p>title</p>
                </div>
                <div id='reminderItem'>
                    <p>title</p>
                </div>
                <div id='reminderItem'>
                    <p>title</p>
                </div>
                <div id='reminderItem'>
                    <p>title</p>
                </div>
                <div id='reminderItem'>
                    <p>title</p>
                </div>
            
            </div>
            

        </div>
    </body>
</html>