*{
    padding: 0pt;
    margin: 0pt;
}



body{
    background-color: #2AFC62;
    width: 100%;
    height: 100vh;
    position:absolute; top:0; bottom:0; right:0; left:0;
}

#backBTN{
    border-style: solid;
    border-width: 1pt;
    width: 40pt;
    height: 30pt;
    background-color: rgba(255, 255, 255, 0.2);
    color: dimgray;
    cursor: pointer;
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
}

.BTNstyle{
    border-radius: 30pt;
    border-style: solid;
    border-width: 1pt;
    width: 100pt;
    height: 50pt;
    background-color: rgba(255, 255, 255, 0.2);
    color: dimgray;
    cursor: pointer;
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
    margin: 10pt;
    font-family: Arial, Helvetica, sans-serif;
}

#BTNholder{
    margin-top: 180pt;
    text-align: center;
}

#thirdBTN{
    text-align: center;
}

#backBTNposition{
    padding-top: 15pt;
    margin-left: 190pt;
}

#container{
    margin-top: 80pt;
    width: 260pt;
    margin-left: auto;
    margin-right: auto;
    width: intrinsic;           /* Safari/WebKit uses a non-standard name /
    width: -moz-max-content;    / Firefox/Gecko /
    width: -webkit-max-content; / Chrome */
    padding-bottom: 30vh;
    background-color: rgb(0, 0, 0, 0.05);
    border-radius: 10pt;
    height: 600pt;
}
#icon{
    float: right;
    width: 20pt;
    margin-right: 7pt;
}




/*========================================================================*/





@media only screen and (max-width: 600px) {
    body{
        background-color: #2AFC62;
        width: 100%;
        height: 100%;
    }
    #container{
    margin: 0;
    background-color: rgb(0, 0, 0, 0);
    width: auto;
    }
    #backBTN{
        border-style: solid;
        border-width: 1pt;
        width: 40pt;
        height: 30pt;
        background-color: rgba(255, 255, 255, 0.2);
        color: dimgray;
        cursor: pointer;
        font-size: 15pt;
        font-weight: bold;
        text-align: center;
    }
    #backBTNposition{
        padding-top: 20pt;
        margin-left: 220pt;
    }
    .BTNstyle{
        border-radius: 30pt;
        border-style: solid;
        border-width: 1pt;
        width: 100pt;
        height: 50pt;
        background-color: rgba(255, 255, 255, 0.2);
        color: dimgray;
        cursor: pointer;
        font-size: 15pt;
        font-weight: bold;
        text-align: center;
        margin: 10pt;
        font-family: Arial, Helvetica, sans-serif;
    }
    
  }
