<html>
    <head>
    </head>
    <body>
        <div id='container'>
            <div (click)="membersPage()" id='backBTNposition' >
                <button id='backBTN'>></button>
            </div>
            <br>
            <div>
                <p id='greetings'>قائمة الأدوية</p>
            </div>
            <div id='searchPosition'>
                <i class="fa fa-search" (click)="search()"></i><input placeholder='  بحث' id='search' type='text'>
            </div>
            
            <div id='scroll'>
                <div (click)="itemInfo()" id='items' *ngFor="let item of listOfAqar">{{item.name}}</div>
            </div>

        </div>
    </body>
</html>
