<html>
    <head>
    </head>
    <body>
        <div id='container'>
            <div (click)="membersPage()" id='backBTNposition' >
                <button id='backBTN'>></button>
            </div>
            <br>
            <div>
                <p id='greetings'>قائمة الأدوية</p>
            </div>
            <div id='searchPosition'>
                <form><img src='assets/img/zoom.png' class='searchImg'><button class='a' (click)="search()" type='submit' value=''></button><input placeholder='  بحث' id='search' type='text'></form>
            </div>
            
            <div id='scroll' style='display: block'>
                <div  *ngFor="let aqar of listOfAqar" id='items' routerLink="/itemList/{{aqar.name}}" >
                    {{ aqar.name }}
                </div>
                
            </div>
            <div id='searchedItem' style='display: none'>
                <div id='items' routerLink="/itemList/{{item?.name}}">
                    {{ item?.name }}
                </div>
            </div>

        </div>
    </body>
</html>

<!--
    <div id='scroll' style='display: block'>
                <div  *ngFor="let aqar of listOfAqar" (click)="itemInfo()" id='items'>
                    {{ aqar.name }}
                </div>
                
            </div>
            <div id='searchedItem' style='display: none'>
                <div  *ngFor="let aqar of item" (click)="itemInfo()" id='items'>
                    {{ aqar.name }}
                </div>
            </div>
-->