<html>
    <head>
    </head>
    <body>
        <div id='container'>
            <div (click)="membersPage()" id='backBTNposition' >
                <button id='backBTN'>></button>
            </div>
            <br>
            <div>
                <p id='greetings'>قائمة الأدوية</p>
            </div>
            <div id='searchPosition'>
                <i class="fa fa-search" (click)="search()"></i><input placeholder='  بحث' id='search' type='text'>
            </div>
            
            <div id='scroll' style='display: block'>
                <div  *ngFor="let aqar of listOfAqar" id='items' routerLink="/itemList/{{aqar.name}}" >
                    {{ aqar.name }}
                </div>
                
            </div>
            <div id='searchedItem' style='display: none'>
                <div id='items' routerLink="/itemList/{{item?.name}}">
                    {{ item?.name }}
                </div>
            </div>

        </div>
    </body>
</html>

<!--
    <div id='scroll' style='display: block'>
                <div  *ngFor="let aqar of listOfAqar" (click)="itemInfo()" id='items'>
                    {{ aqar.name }}
                </div>
                
            </div>
            <div id='searchedItem' style='display: none'>
                <div  *ngFor="let aqar of item" (click)="itemInfo()" id='items'>
                    {{ aqar.name }}
                </div>
            </div>
-->